<div class="container-fluid">
  <div class="row">

  <div class="panel panel-default col-xs-6 col-sm-3 col-md-3"
  *ngFor="let shop of shops | paginate: { itemsPerPage: 21, currentPage: p }" >
    <h4 class="list-group-item-heading text-info">{{ shop.shopName }}</h4>
    <span class="panel-content">
    <img
    [src]='shop.shopImagePath'
    alt='placeholder'
    class="img-responsive img-rounded shopImage"
    style="max-height: 150px;">
  </span>
  <button class="btn btn-danger pull-left  btn-sm"
  (click)="dislikeShop(shop.shopId)">Dislike</button>
  <button class="btn btn-success pull-right  btn-sm"
  (click)="likeShop(shop.shopId)">Like</button>
  </div>

  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

