<div class="container-fluid">
  <div class="row">
    <!-- Checking if shops aren't loading -->
    <div *ngIf="!(shops === undefined && shops.length == 0)">
      <div class="panel panel-default col-xs-6 col-sm-3 col-md-3"
      *ngFor="let shop of shops | paginate: { itemsPerPage: 8, currentPage: p }" >
        <h4 class="list-group-item-heading text-info">{{ shop.shopName }}</h4>
        <span class="panel-content">
          <img
          [src]='shop.shopImagePath'
          alt='placeholder'
          class="img-responsive img-rounded shopImage"
          style="min-height: 150px; min-width: 150px;">
        </span>
        <div *ngIf="shop.isOperational">
        <!-- Disabling buttons when user select an operation  -->
          <button class="btn btn-danger pull-left  btn-sm"
          (click)="dislikeShop(shop.shopId); shop.isOperational = false;">Dislike</button>
          <button class="btn btn-success pull-right  btn-sm"
          (click)="likeShop(shop.shopId); shop.isOperational = false;">Like</button>
        </div>
        <span *ngIf="!shop.isOperational">
          <p class="processing">Processing..</p>
        </span>
      </div>
    </div>
    <!-- Loading spinner -->
      <ngx-spinner
      bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "cube-transition"
      ></ngx-spinner>
  </div>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

