<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (submit)="onSignup(SignUpForm)" #SignUpForm="ngForm">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
        type="email"
        id="email"
        name="email"
        ngModel
        email
        required
        #email="ngModel"
        placeholder="Email"
        class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
        maxlength="14"
        #password="ngModel"
        placeholder="Password"
        class="form-control">
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Confirm password</label>
        <input
          type="password"
          id="passwordConfirmation"
          name="passwordConfirmation"
          ngModel
          required
          minlength="6"
          maxlength="14"
          [class.ng-invalid]="(passwordConfirmation.value !== password.value) && (passwordConfirmation.touched && password.valid)"
          #passwordConfirmation="ngModel"
          placeholder="Password confirmation"
          class="form-control ng-invalid">
      </div>
      <!-- Email validation -->
      <div *ngIf="email.invalid && email.touched"
      class="alert alert-danger">
        <div *ngIf="email?.errors?.required">
          Email is required.
        </div>
        <div *ngIf="email?.errors?.email">
          Invalid email address.
        </div>
      </div>
      <!-- Password validation -->
      <div *ngIf="password.invalid && password.touched"
      class="alert alert-danger">
        <div *ngIf="password?.errors?.required">
          Password is required.
        </div>
        <div *ngIf="password?.errors?.minlength">
          Password must be between 6 and 14 characters.
        </div>
      </div>
      <!-- Password confirmation validation -->
      <div *ngIf="(passwordConfirmation.value !== password.value) && (passwordConfirmation.touched && password.valid)"
      class="alert alert-danger">
        Password confirmation does not match.
      </div>
      <!-- Registration error message -->
      <div *ngIf="authError" class="alert alert-danger">
          An error has occurred during registration, please try again with a different email.
      </div>
      <button
      class="btn btn-success"
      type="submit"
      [disabled]="!SignUpForm.valid || (passwordConfirmation.value !== password.value)">Sign Up</button>
    </form>
    <!-- Loading spinner -->
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-scale-multiple"
    ></ngx-spinner>
  </div>
</div>
