<nav class="navbar navbar-expand-lg navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand">Shops</a>
  </div>

  <div class="navbar-collapse">
    <ul class="navbar-nav nav">
      <li >
        <a class="nav-link" >My preferred Shops</a>
      </li>
      <li >
        <a class="nav-link" >Nearby Shops</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a class="nav-link" >
        <fa name="user-plus"></fa>
        Sign Up</a></li>
      &nbsp;&nbsp;
      <li><a class="nav-link">
        <fa name="sign-in"></fa>
        Login</a></li>
  </ul>
  </div>
  </div>
</nav>
