
.pull-down {
  position: inherit;
  padding-bottom: 0%;
  margin-bottom: 0%;

}
.panel-heading {
  min-height:25px ;
}

.panel {
  padding-top: 0.4em;
  padding-right: 0.6em;
  padding-left: 0.6em;
  margin: 1em;
  min-height: 222px;
  max-height: 222px;
  min-width: 168px;
  max-width: 168px;
}

.shopImage {
  margin-bottom: 0.4em;
}

.btn-danger {
  width: 149px;
}

.processing {
  text-align: center;
}

.container-fluid {
  margin: auto; max-width: 784px;
}
